[submodule "extern/cimgui"]
	path = extern/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "extern/imguifiledialog"]
	path = extern/imguifiledialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "extern/re"]
	path = extern/re
	url = https://github.com/kokke/tiny-regex-c
[submodule "extern/triangulate"]
	path = extern/triangulate
	url = https://github.com/NovalisTheMagician/triangulate
